h1 {
  color: black;
}
.buttonnano{
  background-color: white;
  border-radius: 6px;
  padding: 2% 5%;
  color: black;
  border: solid skyblue;
  font-size: 30px;
  text-align: center;
  transition-duration: 0.3s;
}
.buttonnano:hover{
  background-color: skyblue;
  color: white;
}
.buttonnano:active{
  padding: 1% 3%;
}

.buttoncotfl{
  background-color: white;
  border-radius: 4px;
  padding: 5px 2px;
  color: black;
  border: solid limegreen;
  font-size: 15px;
  text-align: center;
  transition-duration: 0.3s;
}
.buttoncotfl:hover{
  background-color: limegreen;
  color: white;
}
.buttoncotfl:active{
  background-color: white;
  color:white;
}