h1 {
  color: black;
}
.buttonnano{
  background-color: white;
  border-radius: 6px;
  padding: 2% 5%;
  color: black;
  border: solid skyblue;
  font-size: 30px;
  text-align: center;
  transition-duration: 0.3s;
}
.buttonnano:hover{
  background-color: skyblue;
  color: white;
}
.buttonnano:active{
  padding: 1% 3%;
}